<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false">
    <display-name>Mk-JD2-78-21</display-name>
    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.Dispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUser</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.CheckUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintChat</servlet-name>
        <servlet-class>by.it_academy.jd2.web.servlets.homeworkJSP.PrintChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/Dispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUser</servlet-name>
        <url-pattern>/CheckUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintChat</servlet-name>
        <url-pattern>/PrintChat</url-pattern>
    </servlet-mapping>
    <!-- <servlet>-->
    <!--     <servlet-name>MyForm</servlet-name>-->
    <!--   <servlet-class>FormRequest</servlet-class>-->
    <!--  </servlet>-->
    <!--    <servlet-mapping>-->
    <!--     <servlet-name>MyForm</servlet-name>-->
    <!--     <url-pattern>/chat</url-pattern>-->
    <!-- </servlet-mapping>-->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>


    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!--    <servlet>-->
    <!--        <servlet-name>ChatServlet</servlet-name>-->
    <!--        <servlet-class>by.it_academy.jd2.web.servlets.ChatServlet</servlet-class>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ChatServlet</servlet-name>-->
    <!--        <url-pattern>/test</url-pattern>-->
    <!--    </servlet-mapping>-->

    <listener>
        <listener-class>by.it_academy.jd2.web.listeners.SessionChangeListener</listener-class>
    </listener>
</web-app>